<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>購物車</title>
</head>
<body>

	<h3>Cart Page</h3>
	<table cellpadding="2" cellspacing="2" border="1">
		<tr>
			<th>Option</th>
			<th>Id</th>
			<th>Name</th>
			<th>Photo</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Sub Total</th>
		</tr>
		<tbody>
		<tr th:each="item : ${session.cart}" >
			<td align="center"><button th:onclick="remove([[${item.product.id}]])">
					Remove</button></td>
			<td th:text="${item.product.id }"></td>
			<td th:text="${item.product.name }"></td>
			<td><img th:src="@{${item.product.image}}" width="300" height="400"></td>
			<td th:text="${item.product.price }"></td>
			<td th:text="${item.quantity }"></td>
			<td th:text="${item.product.price} * ${item.quantity}"></td>
		</tr>
		</tbody>
		<tr>
			<td colspan="6" align="right">Sum</td>
			<td th:text="${session.total}">總金額</td>
		</tr>
	</table>
	<br>
	<div class="container">
	<div class="row">
		<button th:onclick="shopping()">繼續購物</button>
		<button th:if="${session.user != null}" th:onclick="checkout()">結帳(已登入)</button>
		<button th:if="${session.user == null}" th:onclick="login_please()">結帳(未登入)</button>	
	</div>
	</div>
	
	


<script type="text/javascript">

function shopping(){
	$.ajax({
		type:"GET",
		url:"/product",
		cache:"false",
		dataType:"html",
		success:function(data){
			alert("success");
			//$("#pagetext").html(data);
			$("#productList").html(data);
		},
		error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
        }
	});
}

function remove(id){

	var areyousure = confirm("確定是否刪除?");
	if(areyousure == true){
		$.ajax({
			type:"GET",
			url:"/product/remove/" + id,
			cache:"false",
			dataType:"html",
			success:function(data){
				alert("success");
				//$("#pagetext").html(data);
				$("#productList").html(data);
			},
			error: function (xhr, ajaxOptions, thrownError) {
	        	alert(xhr.status);
	    	}
		});
	}else{
		}
}


function checkout(){
	alert("進入結帳畫面");
	$.ajax({
		type:"GET",
		url:"/product/cart/checkout",
		cache:"false",
		dataType:"html",
		success:function(data){
			alert("succcess");
			$("#productList").html(data);
		},
		error:function(xhr, ajaxOptions, thrownError){
			alert(xhr.status);
		}
	});
}

function login_please(){
	alert("請先登入會員，再執行購買");
}

</script>

</body>
</html>
